.parent {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.search img{
  width: 30px;
  cursor: pointer;
}

.search input{
  height: 2rem;
  width: 15rem;
  border-radius: 10px;
  outline: none;
  text-transform: capitalize;
  text-align: center;
}

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.error img{
  width: 7rem;
  height: 7rem;
}

.error p{
  font-size: 20pt;
}

