body{
  overflow: hidden;
}
.parent {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weatherParent {
  display: flex;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  max-width: 100%;
  padding: 3rem;
  border-radius: 20px;
  background-image: url(${currentBackground});
  background-size: cover;
  background-repeat: no-repeat;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.search label {
  position: relative;
}

.searchIcon {
  position: absolute;
  width: 25px;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search input {
  height: 2rem;
  width: 12rem;
  padding-right: 2.5rem;
  border-radius: 10px;
  outline: none;
  text-transform: capitalize;
  text-align: center;
}

.topInfoParent {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cityName {
  text-align: center;
  font-size: 36pt;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25pt;
}

.temperature img {
  height: 80px;
}

.description {
  padding-bottom: 2rem;
  font-size: 15pt;
  text-transform: capitalize;
}

.separator {
  border: 1px solid white;
  width: 100%;
}

.otherData {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2rem;
  font-size: 15pt;
}

.feelMax,
.humWind {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.hoursForecastContainer {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 2rem;
}

.hoursForecast {
  margin-right: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.error img {
  width: 7rem;
  height: 7rem;
}

.error p {
  font-size: 20pt;
}
